<!DOCTYPE html>
<html>
<head>
    {> "header"/}
</head>
<body>
<div class="page-header">
    <h3>장바구니 조회</h3>
</div>

<div>
    <form action="/order/createOrder" method="post">

        {> "order-orderItemForm" /}

        <table>
            <tr>
                <td>총 가격</td>
                <td colspan="2" align="right">
                    <input type="hidden" name="totalOrderAmount" value="{totalOrderAmount}">
                    {totalOrderAmount} 원
                </td>
            </tr>
        </table>

        <input type="hidden" name="{_csrf.parameterName}" value="{_csrf.token}"/>

        <input type="submit" value="주문하기">
        <a href="/checkout/paypal/start?toa={totalOrderAmount}">
            <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;">
        </a>

    </form>
</div>

</body>
</html>