<!DOCTYPE html>
<html>
<head>
    {> "header"/}
</head>
<body>
<div class="page-header">
    <h3>
        {?product.displayName} {product.displayName}
        {:else} {product.productName}
        {/product.displayName}
    </h3>
    {product.defaultSku.salesStock}개 남았어요!
</div>

<div>
    <!-- TODO SKU 별 주문 가능 수량을 확인해서 1단위로 표시하기 -->
    {#product}
    <form id="productForm" action="/cart/addItem" method="post">
        <h3>상품 기본 정보</h3>
        <ul>
            <li>{productName}</li>
            {#defaultSku}
            <li><b>소매가</b>: <span style="text-decoration: line-through;">{retailPrice}</span>원</li>
            <!--TODO 다국어 어떻게 지원? -->
            <li><b>ASTORE가: </b><span>{salesPrice}</span>원 부터~</li>
            {/defaultSku}
        </ul>
        <h3>상품 옵션</h3>

        <ul>
            <li>
                <select name="selectSkuId">
                    {#skuList}
                    <option value="{skuId}">{label}({salesStock}개 제고)</option>
                    {/skuList}
                </select>
            </li>
        </ul>
        <ul>
            <li>
                <!-- TODO 지정된 숫자만큼 for loop 돌도록 수정 -->
                <select name="selectItemQuantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </li>
        </ul>

        <input type="hidden" name="productId" value="{productId}">
        <input type="hidden" name="{_csrf.parameterName}" value="{_csrf.token}"/>
        <input type="submit" value="주문하기">

        <h3>기술서</h3>
        <!--TODO 링크처리는 어떻게?-->
        <div>
            {defaultSku.description}
        </div>
    </form>
    {/product}
</div>

</body>
</html>