<table border="1">
    <thead>
    <tr>
        <td>상품이름</td>
        <td>주문수량</td>
        <td>주문가격</td>
    </tr>
    </thead>
    <tbody>
    {#itemList}
    <tr>
        <input type="hidden" name="orderItemIds[{$idx}]" value="{orderItemId}">
        <td>
            {skuProductProductName} <br> - {orderSkuLabel}
        </td>
        <td>
            <input type="number" name="orderQuantities[{$idx}]" value="{orderQuantity}">
        </td>
        <td>
            {orderPrice} 원
        </td>
    </tr>
    {/itemList}
    </tbody>
</table>